@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-sans);
  --font-serif: var(--font-geist-sans);
}

:root {
  --background: #0f172a;
  --foreground: #cbd5e1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono,
.font-serif {
  font-family: var(--font-geist-sans), sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border: 3px solid #0f172a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}
